body {
      #background-image: url("https://image.freepik.com/free-vector/simple-geometric-background_23-2147489455.jpg");
      background-repeat: no-repeat;
      background-size: cover;

    }

.header {
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 45px;
  padding: 10px 0 5px 0;
  color: black;
  text-decoration: none;
}

h1{
  margin:0px;
}

h2{
  margin:5px;
}

h3{
  font-family: 'Monoton', cursive;
  text-align: left;
  font-size: 30px;
  padding: 10px 0 5px 0;
  color: black;
  text-decoration: none;
  margin: 0px;
}

h4 {
  margin: 5px;
  font-family: 'Droid Sans', sans-serif;

}
h5{
  margin: 0px;
  font-family: 'Droid Sans', sans-serif;

}

hr {
  margin: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

nav {
  text-align: center;
  font-size: 20px;
  letter-spacing: .5px;
}

nav a
{
  text-decoration: none;
  color: black;
  font-family: 'Droid Sans', sans-serif;
}

a:hover
{
  color: red;
}

.post_header {
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.post_home {
  border-style: hidden;
  text-align: center;
  width: 20%;
  margin: 10px;
}

.home_img {
  height: 150px;
}

.user-welcome{
  text-align: center;
  font-size: 20px;
  letter-spacing: .5px;
}

.like {
  border-style: hidden;
  color: white;
  background: transparent;
}

#post-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}
.newcommentForm {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 10px 0 5px 0;
  text-align: center;
}

.post-content-left{
  width: 800px;
  margin: 50px;
}

.post-content-right{
  width: 300px;
  margin: 50px;
}
