body {
      background-color: #d7d8a9;
    }
.welcome {
  position: absolute;
  right: .5%;
  top: .5%;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  text-align: center;
}
.post_home {
  border-style: hidden;
  text-align: center;
  width: 20%
}
.home_img {
  width: 98%;
  height: 98%;
}

#post-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
