<!DOCTYPE html>

<head>
    <meta charset="utf-8">
        <title> STAND BY MEME </title>
</head>

<link rel="stylesheet" href="/stylesheet/styles.css">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

<div class = "post_header">
  <a href="/" class = "post_header"><h1>STAND BY MEME</h1></a>
</div>
<hr>

<form class="add-college"action = "/add_college" method="post">
  <h2>Which college would you like to add?</h2>
  <input class="align" type="text" name="name" placeholder="Enter College Name Here" style="text-align: center"/>

  <h2>Where is this college located? (Ex: Sacramento, California)</h2>
  <input class="align" type="text" name="location" placeholder="Enter City and State Here" style="text-align: center"/>

  <h2>Input url of college logo:</h2>
  <input type="text" name="logo_url" placeholder="Logo URL"/>
  <br><button>Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/photogram.js"></script>
