<!DOCTYPE html>
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/stylesheet/styles.css">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Buda:300|Droid+Sans" rel="stylesheet">
<link rel="import" href="paper-carousel.html">
<base href="https://raw-dot-custom-elements.appspot.com/Redbility/paper-carousel/1.2.5/paper-carousel/">
<script src="../webcomponentsjs/webcomponents-lite.js"></script>
              <title> STAND BY MEME </title>
</head>
<body>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <div class = "mainheader">
      <a href="/" class = "header"><h1>STAND BY MEME</h1></a>
  </div>
<!--Login/Logout-->
  <hr>
    {% if current_user %}
    <nav>
      <a href="/new_post">NEW POST</a>
      |
      <a href="/add_college">ADD COLLEGE</a>
      |
      <a href="{{logout_url}}" class="log">LOGOUT</a>
    </nav>
    {% else %}
      <nav>
        <a href="{{login_url}}" class="welcome">LOGIN</a>
      </nav>
    {% endif %}
 <!-- creates the paper carosel in Trending -->
    <hr>
    <div class = "home-page">
        <h3>TRENDING:</h3>
    <!--  <div id = "post-container">
        {% for post in posts %}
          <div class="container">
            <article class="post_home">
              <a href = "/post?key={{post.key.urlsafe()}}">
            <paper-carousel items="1" dotText="false">
                  <img src="{{post.post_img_url}}" class="home_img" width="5px"length="9px"draggable="false"/>
                  <img src="{{post.post_img_url}}" class="home_img" width="5px"length="9px"draggable="false"/>
                  <img src="{{post.post_img_url}}" class="home_img" width="5px"length="9px"draggable="false"/>
                  <img src="{{post.post_img_url}}" class="home_img" width="5px"length="9px"draggable="false"/>
                  <img src="{{post.post_img_url}}" class="home_img" width="5px"length="9px"draggable="false"/>
            </paper-carousel>
            <br>
            <a href = "/post?key={{post.key.urlsafe()}}"><img src="{{post.post_img_url}}" class="home_img"></a>
            <h5>By: {{post.user}}</h5>
          </article>
        {% endfor %}-->
</body>
</nav>
</div>
