<!DOCTYPE html>
<html>
      <style>
              body {
                    background-color: pink
                  }
</style>
    <head>
        <meta charset="utf-8">
            <title> STAND BY MEME </title>
  </head>
  <body>

     <a href="/new_post">ADD NEW POST</a>
    {% for post in posts %}
     <article>
       <br>
       <a href = "/post?key={{post.key.urlsafe()}}"><img src="{{post.post_img_url}}"></a>
      <h5>{{post.user}}</h5>
      </article>
    {% endfor %}
  </body>
</html>
