<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submit a Post</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <div class = "post_header">
      <a href="/" class = "post_header"><h1>STAND BY MEME</h1></a>
    </div>
    <hr>

  </head>
  <body>
    <form class="newcommentForm"action = "/new_post" method="post">
      <h2>Name your meme:</h2>
      <input class="align" type="text" name="title" placeholder="Enter Title Here" style="text-align: center"; />
      <h2>Caption:</h2>
      <textarea name="caption" placeholder="Words..."></textarea>

      <br>

      <select id="college-choice" name="urlsafe_college_key">
        <option>Which college do you go to?</option>

        {% for college in colleges %}
          <option value="{{college.key.urlsafe()}}">{{college.name}}</option>
        {% endfor %}

      </select>

      <h2>Input your image url:</h2>
      <input type="text" name="post_img_url" placeholder="Image URL"/>
      <br><button>Submit</button>
    </form>
  </body>
</html>
