<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
            background-image:   url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXY80xTvyJTI_kAQWTgTewr0gnIibHXsEJO0rSw5esbtTHhmZZ8g");
   	        background-repeat: no-repeat;
            background-size : 125%;
          }
        h1 {
	          font-size : 300% ;
	          font-family:verdana ;
	          text-align: center ;
           }
        h2 {
	         font-size : 250% ;
	         font-family:verdana ;
	          text-align: center ;
          }
    </style>
    <meta charset="utf-8">
    <title>Submit a Post</title>

<link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

<title>STAND BY MEME</title>
<div class = "post_header">
    <h1>STAND BY MEME<h1>
</div>
<hr>
<nav>
  <a href="/">Home</a>
</nav>
<hr>

<h1>{{post.title}}</h1>
<h2>{{post.user}}</h2>
<h4>{{post.caption}}</h4>

<p>
  <img src = "{{post.post_img_url}}">
</p>



<form action = "/like" method="post">
  <input type = "hidden" name = "post_key" value = "{{post.key.urlsafe()}}">
  <button>Like</button>
</form>


<h2>Views: {{post.view_count}}</h2>
<h2>Likes: {{post.like_count}}<h2>

<h2>Comments on this post</h2>
  {% for comment in comments %}
    <div>{{comment.content}}</div>
    <div>Written by: {{comment.user}}</div>
    Posted on {{comment.post_time.strftime("%b %d, %Y")}}
    <br><br>
  {% endfor %}

{% if current_user %}
<form action = "/new_comment" method="post">
  <center>
  <input type = "hidden" name = "post_key" value = "{{post.key.urlsafe()}}">
  </center>
  <h2>Leave a comment</h2>
  <center>
  <textarea name = "content" placeholder="Comment Here"></textarea><br>
  </center>
  <center>
  <button>Leave a comment</button>
  </center>
</form>
{% endif %}
